// set up a simple neutral simulation
initialize() {
	initializeMutationRate(3.5e-9);
	
	// m1 mutation type: neutral
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeMutationType("m2", 0.5, "e", -0.00002);
	
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElementType("g2", m2, 1.0);
	// g1 genomic element type: uses m1 for all mutations
	
     for (index in 1:19)
         initializeGenomicElement(g1, index*1000, index*1000 + 499);
         
     for (index in 1:19)
         initializeGenomicElement(g2, index*1000 + 499 +1, (index+1)*1000 -1);
	
	initializeRecombinationRate(2.31e-08);
	//initializeSex("Y"); //Y is the mitochondria, XY individuals are females, XX individuals are males. Y pass only from mother to offspring so can be ignored in XX/males
}

// create two populations individuals
1 {
	sim.addSubpop("p1", 20000);
	sim.addSubpop("p2", 20000);
}

20000 { p1.setSubpopulationSize(1000); } //make malinche bottlenecked

// output samples of 10 genomes periodically, all fixed mutations at end
200000 late() { p1.outputVCFSample(10,T,"*",T,"/Users/mollyschumer/Documents/population1_nuclear.vcf"); }
200000 late() { p2.outputVCFSample(10,T,"*",T,"/Users/mollyschumer/Documents/population2_nuclear.vcf"); }
200000 late() { sim.outputFixedMutations(); }
